<!-- Ibrahim Ozturk, 301234611, June 7, 2022 -->
<div class="container">
    
    <h1><%= title %></h1>
    <h3>Ibrahim Ozturk</h3>
    <img src="/Asssets/images/ibrahim.jpg"alt="me" width="280" height="300">
    <p>
        I am Ibrahim Ozturk. I am a third semester student in Software Engineering Technician Program at Centennial College. 
        I have a bachelor degree in Economics from Turkey and several years of experience in business organizations. 
        With this program, I am hoping to shift my career into IT.
    </p>

        <a href="/Asssets/images/SampleResume.pdf">Resume-Ibrahim Ozturk</a>
        
    
</div>
