<!-- Ibrahim Ozturk, 301234611, June 7, 2022 -->
<div class="container">
    <h1><%= title %></h1>
    <div class="panel panel-default">
        <div class="panel-body">Email Me</div>
        <a href = "mailto: iozturk@my.centennialcollege.ca">iozturk@my.centennialcollege.ca</a>
    </div>

    <h2>Contact Form</h2>

<form>
  <label for="fname">First name:</label><br>
  <input type="text" id="fname" name="fname"><br>
  <label for="lname">Last name:</label><br>
  <input type="text" id="lname" name="lname" ><br>
  <label for="email">Email Address:</label><br>
  <input type="email" id="email" name="email"><br><br>
  <input type="submit" value="Submit"> 
</form> 

<p>If you click the "Submit" button, the form-data will be sent to site owner".</p>

<a href="/home">Home</a>

</div>