<!-- Ibrahim Ozturk, 301234611, June 7, 2022 -->
<div class="container">
    <h1><%= title %></h1>
    <h3> Welcome to my Personal Website</h3>
    <p>
        In this website, you will find information about <a href="/about">myself</a>, my personal <a href="/projects">projects</a> 
        and my <a href="/contact">contact</a> information.
    </p>
    <h3>Mission Statement</h3>
    <p>
        I am willing to showcase my portfolio to interested audience.
    </p>
</div>