<!-- Ibrahim Ozturk, 301234611, June 7, 2022 -->
<div class="container">
    <h1><%= title %></h1>
    <img src="/Asssets/images/project.png"alt="logo" width="150" height="150">
    <h4>Investment Logic Mapping</h4>
    <p>
        A government agency used a series of ILM workshops to make significant changes to one of its core business areas, 
        where their operating policies were not delivering good outcomes for their clients. A series of ILM workshops that 
        included a number of key stakeholders were led by Caravel's accredited ILM facilitator. These enabled different 
        viewpoints to be heard, and the causes of the problem and the expected benefits to be agreed. These provided the 
        strategic case for input into a business case using the Better Business Case (BBC) methodology. 
        A comprehensive set of strategic interventions that included solutions and asset requirements was also formulated 
        as a series of actions to be delivered as part of a change management programme.
    </p>
    <h4>Design of a Portfolio Management Office</h4>
    <p>
        The client wanted to develop an enterprise wide Project Management Office and asked Caravel to design the portfolio 
        management structure and processes.  Caravel started with agreement on principles, then developed the structure based 
        on alignment with the strategic planning, performance reporting, and project management groups.  This was followed by 
        design of the processes based on a generic approach not dependent on a specific tool set. The design provided for prioritization, 
        benefit management, and visibility of the portfolio and progress of the constituent projects.
    </p>
    <h4>Project Management Office for Major Business Change</h4>
    <p>
        Caravel helped a District Health Board to move its services into a new hospital.  This involved organizational, management and 
        process changes.  To support management of the change project, Caravel built and operated a PMO, providing methods, tools, resources, 
        coaching, quality assurance and governance support.  This resulted in a major improvement in project management capability, competence 
        and cohesion in a project team that included many health service personnel who had not worked on a large project before.
    </p>

</div>