<!-- Ibrahim Ozturk, 301234611, June 7, 2022 -->
<div class="container">
    <h1><%= title %></h1>
    <h2>Provided Services</h2>

<ul>
  <li>General Programming</li>
  <li>Web Development</li>
  <li>Mobile Applications</li>
  <li>Business Intelligence</li>
  <li>Data Analytics</li>
</ul>  

<img src="/Asssets/images/webdev.jpg"alt="dev" width="450" height="275">

</div>